.todo-app .todo-item-control-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-app .todo-item .todo-item-title {
    font-weight: bold;
}

.todo-app .todo-item.completed .todo-item-title {
    color: gray;
    text-decoration: line-through;
}

.todo-app .todo-item .todo-item-delete {
    margin-left: 5px;
}